*{
border: 0;
margin: 0;
padding: 0;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: linear-gradient(135deg, #d0ccf2 0%, #f4e3da 100%); /* Light gradient background */
}
@media screen and (max-width:598px) {
  html{
    font-size: 45%;
  }
}
input,
select,
button {
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

input {
    width: 100%;
    box-sizing: border-box; 
}
select {
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
input:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.input-section{
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 3rem;
}
input[type="checkbox"] {
  width: auto;
  margin-right: 0.5rem;
  accent-color: #007bff;
  transform: scale(1.2);
  cursor: pointer;
}
input[type="checkbox"]:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff; 
}